<p id="notice"><%= notice %></p>

<h1>Listing Missed Calls</h1>

<table>
  <thead>
    <tr>
      <th>Selected product</th>
      <th>Phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @missed_calls.each do |missed_call| %>
      <tr>
        <td><%= missed_call.selected_product %></td>
        <td><%= missed_call.phone_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
