---
http_interactions:
- request:
    method: get
    uri: https://<TWILIO ACCOUNT SID>:<TWILIO AUTH TOKEN>@taskrouter.twilio.com/v1/Workspaces?FriendlyName=Rails%20Workspace
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.053'
      Twilio-Request-Id:
      - RQad1d6bc2d14b4f73808f43baef818707
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"meta": {"page": 0, "page_size": 50, "first_page_url": "https://taskrouter.twilio.com/v1/Workspaces?FriendlyName=Rails+Workspace&PageSize=50&Page=0",
        "previous_page_url": null, "url": "https://taskrouter.twilio.com/v1/Workspaces?FriendlyName=Rails+Workspace&PageSize=50&Page=0",
        "next_page_url": null, "key": "workspaces"}, "workspaces": [{"sid": "WSd269cddf631d0dc314b0d22d6f8dad97",
        "account_sid": "<TWILIO ACCOUNT SID>", "friendly_name": "Rails Workspace",
        "event_callback_url": "https://0895379f.ngrok.io/events", "default_activity_sid":
        "WAa222403568cd0adf6e9082d3ffff42d4", "date_created": "2016-06-29T15:06:35Z",
        "date_updated": "2016-06-29T15:06:36Z", "default_activity_name": "Offline",
        "timeout_activity_sid": "WAa222403568cd0adf6e9082d3ffff42d4", "timeout_activity_name":
        "Offline", "events_filter": null, "multi_task_enabled": false, "url": "https://taskrouter.twilio.com/v1/Workspaces/WSd269cddf631d0dc314b0d22d6f8dad97",
        "links": {"activities": "https://taskrouter.twilio.com/v1/Workspaces/WSd269cddf631d0dc314b0d22d6f8dad97/Activities",
        "task_queues": "https://taskrouter.twilio.com/v1/Workspaces/WSd269cddf631d0dc314b0d22d6f8dad97/TaskQueues",
        "statistics": "https://taskrouter.twilio.com/v1/Workspaces/WSd269cddf631d0dc314b0d22d6f8dad97/Statistics",
        "tasks": "https://taskrouter.twilio.com/v1/Workspaces/WSd269cddf631d0dc314b0d22d6f8dad97/Tasks",
        "workers": "https://taskrouter.twilio.com/v1/Workspaces/WSd269cddf631d0dc314b0d22d6f8dad97/Workers",
        "workflows": "https://taskrouter.twilio.com/v1/Workspaces/WSd269cddf631d0dc314b0d22d6f8dad97/Workflows",
        "task_channels": "https://taskrouter.twilio.com/v1/Workspaces/WSd269cddf631d0dc314b0d22d6f8dad97/TaskChannels"}}]}'
  recorded_at: Wed, 29 Jun 2016 15:27:24 GMT
[...]
- request:
    method: post
    uri: https://<TWILIO ACCOUNT SID>:<TWILIO AUTH TOKEN>@taskrouter.twilio.com/v1/Workspaces
    body:
      encoding: US-ASCII
      string: FriendlyName=Rails+Workspace&EventCallbackUrl=https%3A%2F%2F0895379f.ngrok.io%2Fevents
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - eabf3dc446d4d2b078f7c9ab2e9ba7c6
      Last-Modified:
      - '2016-06-29T15:27:23Z'
      Twilio-Request-Duration:
      - '0.080'
      Twilio-Request-Id:
      - RQae93e7ad024b47368cae713967976d50
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "WS85b6a3a66f40c51c00b31bcbcadef5cc", "account_sid": "<TWILIO
        ACCOUNT SID>", "friendly_name": "Rails Workspace", "event_callback_url": "https://0895379f.ngrok.io/events",
        "default_activity_sid": "WA57a6f8865de4da6a59bf188fc506fb15", "date_created":[...]
- request:
    method: get
    uri: https://<TWILIO ACCOUNT SID>:<TWILIO AUTH TOKEN>@taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/Activities?FriendlyName=Idle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.029'
      Twilio-Request-Id:
      - RQ264c12e66fa04720bae6fc4b88d0e824
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"activities": [{"sid": "WA3f4691c986746456ed5dd8db1c9783c9", "account_sid":
        "<TWILIO ACCOUNT SID>", "workspace_sid": "WS85b6a3a66f40c51c00b31bcbcadef5cc",
        "friendly_name": "Idle", "available": true, "date_created": "2016-06-29T15:27:23Z",
        "date_updated": "2016-06-29T15:27:23Z", "url": "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/Activities/WA3f4691c986746456ed5dd8db1c9783c9",
        "links": {"workspace": "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc"}}],
        "meta": {"page": 0, "page_size": 50, "first_page_url": "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/Activities?FriendlyName=Idle&PageSize=50&Page=0",
        "previous_page_url": null, "url": "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/Activities?FriendlyName=Idle&PageSize=50&Page=0",
        "next_page_url": null, "key": "activities"}}'
  recorded_at: Wed, 29 Jun 2016 15:27:25 GMT
- request:
    method: post
    uri: https://<TWILIO ACCOUNT SID>:<TWILIO AUTH TOKEN>@taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/Workers
    body:
      encoding: US-ASCII
      string: FriendlyName=Bob&Attributes=%7B%22products%22%3A+%5B%22ProgrammableSMS%22%5D%2C+%22contact_uri%22%3A+%22%2B593992670240%22%7D&ActivitySid=WA3f4691c986746456ed5dd8db1c9783c9
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.062'
      Twilio-Request-Id:
      - RQa6211416b90742518174b4e6912f18ef
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "WK05f63e34660b14bd602848cdae7aec81", "friendly_name": "Bob",
        "account_sid": "<TWILIO ACCOUNT SID>", "activity_sid": "WA3f4691c986746456ed5dd8db1c9783c9",
        "activity_name": "Idle", "workspace_sid": "WS85b6a3a66f40c51c00b31bcbcadef5cc",
        "attributes": "{\"contact_uri\":\"<BOB NUMBER>\",\"products\":[\"ProgrammableSMS\"]}",
        "available": true, "date_created": "2016-06-29T15:27:24Z", "date_updated":
        "2016-06-29T15:27:24Z", "date_status_changed": "2016-06-29T15:27:24Z", "url":
        "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/Workers/WK05f63e34660b14bd602848cdae7aec81",
        "links": {"channels": "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/Workers/WK05f63e34660b14bd602848cdae7aec81/Channels",
        "activity": "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/Activities/WA3f4691c986746456ed5dd8db1c9783c9",
        "workspace": "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc"}}'
  recorded_at: Wed, 29 Jun 2016 15:27:25 GMT
[...]
- request:
    method: post
    uri: https://<TWILIO ACCOUNT SID>:<TWILIO AUTH TOKEN>@taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/Workers
    body:
      encoding: US-ASCII
      string: FriendlyName=Alice&Attributes=%7B%22products%22%3A+%5B%22ProgrammableVoice%22%5D%2C+%22contact_uri%22%3A+%22%2B18302251074%22%7D&ActivitySid=WA3f4691c986746456ed5dd8db1c9783c9
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.073'
      Twilio-Request-Id:
      - RQ1c147836dce2431cbdf3db12baaeb4bc
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "WK6de15fa03a406dc004e308e363428e4e", "friendly_name": "Alice",
        "account_sid": "<TWILIO ACCOUNT SID>", "activity_sid": "WA3f4691c986746456ed5dd8db1c9783c9",
        "activity_name": "Idle", "workspace_sid": "WS85b6a3a66f40c51c00b31bcbcadef5cc",
        "attributes": "{\"contact_uri\":\"<ALICE NUMBER>\",\"products\":[\"ProgrammableVoice\"]}",
        "available": true, "date_created": "2016-06-29T15:27:25Z", "date_updated":
        "2016-06-29T15:27:25Z", "date_status_changed": "2016-06-29T15:27:25Z", "url":
        "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/Workers/WK6de15fa03a406dc004e308e363428e4e",
        "links": {"channels": "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/Workers/WK6de15fa03a406dc004e308e363428e4e/Channels",
        "activity": "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/Activities/WA3f4691c986746456ed5dd8db1c9783c9",
        "workspace": "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc"}}'
  recorded_at: Wed, 29 Jun 2016 15:27:26 GMT
[...]
- request:
    method: post
    uri: https://<TWILIO ACCOUNT SID>:<TWILIO AUTH TOKEN>@taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/TaskQueues
    body:
      encoding: US-ASCII
      string: FriendlyName=Voice&ReservationActivitySid=WA25980f4fd950d089a4432c0f8f9020d0&AssignmentActivitySid=WAb697a77d7c32451bf7c5ba13092520db&TargetWorkers=products+HAS+%27ProgrammableVoice%27
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.044'
      Twilio-Request-Id:
      - RQ4a928281c9184550ac7429f7b32dcac8
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "WQd429f95c83b6f607ce85ba70c93b0632", "account_sid": "<TWILIO
        ACCOUNT SID>", "workspace_sid": "WS85b6a3a66f40c51c00b31bcbcadef5cc", "friendly_name":
        "Voice", "target_workers": "products HAS ''ProgrammableVoice''", "max_reserved_workers":
        1, "reservation_activity_sid": "WA25980f4fd950d089a4432c0f8f9020d0", "reservation_activity_name":
        "Reserved", "assignment_activity_sid": "WAb697a77d7c32451bf7c5ba13092520db",
        "assignment_activity_name": "Busy", "date_created": "2016-06-29T15:27:26Z",
        "date_updated": "2016-06-29T15:27:26Z", "url": "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/TaskQueues/WQd429f95c83b6f607ce85ba70c93b0632",
        "links": {"assignment_activity": "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/Activities/WAb697a77d7c32451bf7c5ba13092520db",
        "reservation_activity": "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc/Activities/WA25980f4fd950d089a4432c0f8f9020d0",
        "workspace": "https://taskrouter.twilio.com/v1/Workspaces/WS85b6a3a66f40c51c00b31bcbcadef5cc"}}'
  recorded_at: Wed, 29 Jun 2016 15:27:28 GMT
[...]
- request:
    method: post
    uri: https://<TWILIO ACCOUNT SID>:<TWILIO AUTH TOKEN>@taskrouter.twilio.com/v1/Workspaces//TaskQueues
    body:
      encoding: UTF-8
      string: AssignmentActivitySid=WAb697a77d7c32451bf7c5ba13092520db&FriendlyName=Voice&ReservationActivitySid=WA25980f4fd950d089a4432c0f8f9020d0&TargetWorkers=products+HAS+%27ProgrammableVoice%27
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.002'
      Twilio-Request-Id:
      - RQ0d217dd38c6241949f3c6e293bbf89bc
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 20404, "message": "The requested resource /Workspaces//TaskQueues
        was not found", "more_info": "https://www.twilio.com/docs/errors/20404", "status":
        404}'
  recorded_at: Thu, 15 Jun 2017 19:15:27 GMT
recorded_with: VCR 3.0.0
