---
http_interactions:
- request:
    method: get
    uri: https://taskrouter.twilio.com/v1/Workspaces?FriendlyName=Rails%20Workspace
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMyZTRlNGYwMjYwZjA1ZWQ1YjQ1MDQ5ODk0YmUwZWQyZDoxYTM4MTc5MDdhYTZiZTQyZDAwNzliZmJmMTI2MzM3ZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.144'
      Twilio-Request-Id:
      - RQ720c33086b124e629179b63dc963c1d2
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"meta": {"page": 0, "page_size": 50, "first_page_url": "https://taskrouter.twilio.com/v1/Workspaces?FriendlyName=Rails+Workspace&PageSize=50&Page=0",
        "previous_page_url": null, "url": "https://taskrouter.twilio.com/v1/Workspaces?FriendlyName=Rails+Workspace&PageSize=50&Page=0",
        "next_page_url": null, "key": "workspaces"}, "workspaces": [{"sid": "WS1021cd3dc567639d168eb6f65c85dcde",
        "account_sid": "<TWILIO ACCOUNT SID>", "friendly_name": "Rails Workspace",
        "event_callback_url": "https://8b734cbe.ngrok.io/events", "default_activity_sid":
        "WA8be259e0d1f4912934f11bfd5160c724", "date_created": "2016-08-26T14:50:52Z",
        "date_updated": "2016-08-26T14:50:52Z", "default_activity_name": "Offline",
        "timeout_activity_sid": "WA8be259e0d1f4912934f11bfd5160c724", "timeout_activity_name":
        "Offline", "events_filter": null, "multi_task_enabled": false, "prioritize_queue_order":
        "FIFO", "url": "https://taskrouter.twilio.com/v1/Workspaces/WS1021cd3dc567639d168eb6f65c85dcde",
        "links": {"activities": "https://taskrouter.twilio.com/v1/Workspaces/WS1021cd3dc567639d168eb6f65c85dcde/Activities",
        "task_queues": "https://taskrouter.twilio.com/v1/Workspaces/WS1021cd3dc567639d168eb6f65c85dcde/TaskQueues",
        "statistics": "https://taskrouter.twilio.com/v1/Workspaces/WS1021cd3dc567639d168eb6f65c85dcde/Statistics",
        "tasks": "https://taskrouter.twilio.com/v1/Workspaces/WS1021cd3dc567639d168eb6f65c85dcde/Tasks",
        "workers": "https://taskrouter.twilio.com/v1/Workspaces/WS1021cd3dc567639d168eb6f65c85dcde/Workers",
        "workflows": "https://taskrouter.twilio.com/v1/Workspaces/WS1021cd3dc567639d168eb6f65c85dcde/Workflows",
        "task_channels": "https://taskrouter.twilio.com/v1/Workspaces/WS1021cd3dc567639d168eb6f65c85dcde/TaskChannels"}}]}'
  recorded_at: Tue, 04 Oct 2016 15:18:35 GMT
- request:
    method: delete
    uri: https://taskrouter.twilio.com/v1/Workspaces/WS1021cd3dc567639d168eb6f65c85dcde
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUMyZTRlNGYwMjYwZjA1ZWQ1YjQ1MDQ5ODk0YmUwZWQyZDoxYTM4MTc5MDdhYTZiZTQyZDAwNzliZmJmMTI2MzM3ZA==
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.085'
      Twilio-Request-Id:
      - RQd4959ed53bb34f378777e1b09e152374
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Oct 2016 15:18:36 GMT
- request:
    method: post
    uri: https://taskrouter.twilio.com/v1/Workspaces
    body:
      encoding: UTF-8
      string: EventCallbackUrl=https%3A%2F%2F8b734cbe.ngrok.io%2Fevents&FriendlyName=Rails+Workspace
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyZTRlNGYwMjYwZjA1ZWQ1YjQ1MDQ5ODk0YmUwZWQyZDoxYTM4MTc5MDdhYTZiZTQyZDAwNzliZmJmMTI2MzM3ZA==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - 8f3c3a0963b52eb5ff28c75816d0a72a
      Last-Modified:
      - '2016-10-04T15:18:36Z'
      Twilio-Request-Duration:
      - '0.148'
      Twilio-Request-Id:
      - RQa9830f51c7bd41b3a2c8fec092d8496a
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "WS30205cebd15e3a4fbfddb468d5d6bcef", "account_sid": "<TWILIO
        ACCOUNT SID>", "friendly_name": "Rails Workspace", "event_callback_url": "https://8b734cbe.ngrok.io/events",
        "default_activity_sid": "WA18d3c31d103ecc294a1521a52e1c6f8d", "date_created":[...]
